<html>
<head>
<meta charset="UTF-8" />
<title>gRPC client generator</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<br></br>
	<br></br>
	<form action="#" th:action="@{/selectMethod}"
		th:object="${selectedMethod}" method="post" class="form-horizontal">
		<table>
			<tr>
				<td>
					<div>Please select the service/method you want to call</div> <select
					th:field="*{serviceMethod}" th:remove="all-but-first"
					class="form-control">
						<option th:each="method : ${grpcServiceMethods}"
							th:value="${method}" th:text="${method}"></option>
				</select>
				</td>
			</tr>
			<tr>
				<td><p>
						Host: <input type="text" th:field="*{host}" />
					</p>
					<p>
						Port: <input type="text" th:field="*{port}" />
					</p></td>
			</tr>
			<tr>
				<td>JSON Paylaod:</td>
			</tr>
			<tr>
				<td><textarea name="json_payload" rows="20" cols="120"
						th:field="*{jsonPayload}" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="Call" /></td>
			</tr>
			<tr th:if="${selectedMethod.response != null}">
				<td>Response:</td>
			</tr>
			<tr th:if="${selectedMethod.response != null}">
				<td><textarea name="response" rows="5" cols="120"
						th:field="*{response}" /></td>
			</tr>
		</table>
	</form>

</body>
</html>